.App {
  background-image: linear-gradient(#34333D, #11101C);
  text-align: center;
  height: 100vh;
  padding: 167px 5%;
  font-family: 'Montserrat', sans-serif;
  color: #E9E9E9;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 48px;
  padding-top: 0px;
  h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 89px;
  }
  h2 {
    font-size: 24px;
    line-height: 150%;
    padding-bottom: 49px;
}


}

.highlight {
  color: #FF6B00;
  font-size: 64px;
  font-weight: 800;
  font-family: 'Righteous', cursive;
  text-shadow: 0 0 8px rgba(255, 107, 0, 0.5) ;
  min-height: 588px;
  text-transform: uppercase;
  
}
main{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.quiz {
  flex: .7;
  justify-content: flex-start;
}

.trivia-button {
  background: linear-gradient(116.03deg, #2F2F3D -65.29%, #181822 92.05%);
  border: 1px solid #28282E;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1), -5px -5px 20px rgba(207, 200, 200, 0.12);
  border-radius: 20px;
  width: 300px;
  height: 83px;
  font-weight: 600;
  font-size: 24px;
  border-radius: 20px;
  color: #E9E9E9;
  cursor: pointer;
  margin: 12px;
}

.start-button {
  background-image: linear-gradient(.90turn, #13F97C, #3D9B69);
  border: 1px solid #6EF9AE;
  font-weight: 600;
  font-size: 24px;
  border-radius: 20px;
  padding: 22px 68px;
  color: #292830;
  cursor: pointer;
}

.score {
  color: #E9E9E9;
  font-size: 36px;
}

.question {
  color: #E9E9E9;
  text-align: left;
  font-size: 24px;
  margin-bottom: 68px;
  height: 60px;
}

.answers {
  align-content: flex-start;
  padding: 0px;
  margin: 0px;
  margin-bottom: 62px;
  width: 80%;
}

.timer {
  width: 95%;
  background: #34333D;
  border: 1.23962px solid #3C3C3C;
  box-sizing: border-box;
  box-shadow: inset -11.1676px -13.0289px 13.0289px -4.65318px rgba(105, 105, 105, 0.1), inset 4.65318px 3.72254px 14.8902px rgba(0, 0, 0, 0.25);
  border-radius: 999px;
  padding: 8px;

}
.remaining { 
  background: rgb(2,0,36);
  background: -moz-linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(192,52,22,1) 0%, rgba(255,107,0,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(192,52,22,1) 0%, rgba(255,107,0,1) 100%);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(192,52,22,1) 0%, rgba(255,107,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ff6b00",GradientType=1);

  box-shadow: 0 0 8px rgba(255, 107, 0, 0.5) ;
  height: 20px;
  border-radius: 100px;
}

.bad-button {
  background: radial-gradient(142.77% 818.33% at 88.55% 135.54%, #C03416 0%, #7A0808 100%);
  border: 1px solid #C03416;
  box-sizing: border-box;
/* Button Shadow */

box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1), -5px -5px 20px rgba(207, 200, 200, 0.12);
border-radius: 20px;
}

.results {
  font-size: 36px;
  text-align: left;
}

.results h2, h3{
  margin-bottom: 70px;
}

.name {
  font-size: 20px;
  margin-top: 20px;;
}